/* Footer.css */
.footer {
    background-color: #262626;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }
  
  .containerfooter p {
    margin: 0;
  }
  