.FeedbackPage {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

button {
  size: 5px;
  padding: 2px 1px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.user-list {
  list-style: none;
  padding: 0;
}

.user-list li {
  margin-bottom: 10px;
}

.user-row {
  display: flex;
  align-items: center;
}

.user-row h3 {
  margin-right: 10px;
}

.FeedbackModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 80%; 
  max-width: 400px; /* Set a maximum width */
  max-height: 80%; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
}

.feedback-table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* Add border to the table */
}

.feedback-table th, .feedback-table td {
  border: 1px solid #000000; /* Add border to table cells */
  padding: 8px; /* Add padding to table cells */
}

.username-column {
  width: 70%; /* Increase width of the username column */
}

.feedbackmodalname{
  margin-bottom: 10px;
}

hr {
  margin-top: 10px; /* Add space above the horizontal line */
  margin-bottom: 10px; /* Add space below the horizontal line */
}

.ModalContent button {
  margin-top: 10px;
}