/* UserHomepage.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.content {
  flex: 1; /* Take up remaining space */
}

.features {
  text-align: center;
  margin: 20px 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center buttons with space around them */
  margin-top: 20px; /* Adjust top margin to leave at least 20% space after the header */
}

button {
  flex: 0 0 calc(30% - 20px); /* Adjust button width */
  margin: 10px;
  padding: 30px 40px; /* Increase button size */
  font-size: 20px; /* Increase font size */
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 10px; /* Increase border radius for a rounded appearance */
  transition: background-color 0.3s ease;
}

/* Increase spacing between button rows */
.button-container button:nth-child(3n + 1) {
  margin-top: 20px;
}

/* Increase distance between first row and second row */
.button-container button:nth-child(n + 4) {
  margin-top: 20px;
}

/* Ensure 3 buttons in one line for larger screens */
@media screen and (min-width: 768px) {
  .container {
    max-width: 70%; /* Adjust to occupy 70% of the page width */
    padding: 20px 40px; /* Adjust padding for larger screens */
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-info {
    flex: 1;
    text-align: left;
  }

  .button-container {
    flex: 2;
    margin-top: 20px; /* Adjust top margin to leave at least 20% space after the header */
  }

  button {
    flex-basis: calc(30% - 20px); /* Adjust button width */
    padding: 30px 40px; /* Increase button size */
    font-size: 20px; /* Increase font size */
  }

  /* Increase spacing between button rows for larger screens */
  .button-container button:nth-child(3n + 1) {
    margin-top: 10px;
  }

  /* Increase distance between first row and second row for larger screens */
  .button-container button:nth-child(n + 4) {
    margin-top: 50px;
  }
}
